.containerhd{
    display: flex;
    height: 3em;
    background-color: #474747;
}

#hd , #hd-2, #hd-3{
    color: white;
    text-align: center;
}

#hd{
    width: 65%; 
    display: flex;
    justify-content: center;
    align-items: center;   
}

#hd-2{
    display: flex;
    width: 20%;
    align-items:center;
    justify-content: end;
    /* margin-left: 1em; */
}

#hd-3{
    display: flex;
    width: 15%;
    align-items: center;
}
#hd-last{
    display: flex;
    width: 15%;
    align-items: center;
}
.elements-hd{
    margin-left: 1em;
}

.icon{
    width: 30px;
}